.App {
  text-align: center;
}

html {
  --scrollbarBG: #d8d8d8;
  --thumbBG: #e95c55;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  overscroll-behavior-y: none;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
}

